@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
  display: flex;
  will-change: transform;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
